@model IEnumerable<Sladkarnica.Data.Product>

@{
    ViewData["Title"] = "Index";
}


<h1>Сладкиши</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Снимка
            </th>
            <th>
                Каталожен номер
            </th>
            <th>
                Категория
            </th>
            <th>
                Размер
            </th>
            <th>
                Грамаж
            </th>
       
            <th>
                Наличие на глутен
            </th>
            <th>
                Цена
            </th>
            <th>
                Дата на добавяне
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.PhotoUrl)" width="110"/>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catalognumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight) грама
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gluten)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Price) лв.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModification)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <form method="get" asp-controller="Orders" asp-action="CreateWithProductId" asp-route-productId="@item.Id">
                            <input name="productId" type="hidden" value="@item.Id" />
                            <input name="countP" id="ccount" type="number" width="1" value="1" style="color:black; font:bold" /> броя
                            <input type="submit" value="Поръчай" class="btn btn-primary" />
                        </form>
                    </td>


           
                }
      
        </tr>
}
    </tbody>
</table>
